In [2]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook #
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

import seaborn

In [3]:
!ls Springleaf_data/

sample_submission.csv.zip test.csv                  train.csv

In [4]:
train = pd.read_csv('Springleaf_data/train.csv')
test = pd.read_csv('Springleaf_data/test.csv')

In [5]:
print("train shape", train.shape)
print("test shape", test.shape)

train shape (145231, 1934)
test shape (145232, 1933)

In [6]:
train.head()

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,2,H,224,0,4300,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
1,4,H,7,53,4448,B,1.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
2,5,H,116,3,3464,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
3,7,H,240,300,3200,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,RCC,0
4,8,R,72,261,2000,N,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,1

In [7]:
test.head()#Note that there are 1932 features, along with an ID and a target column

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934
0,1,R,360,25,2251,B,2.0,2.0,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS
1,3,R,74,192,3274,C,2.0,3.0,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS
2,6,R,21,36,3500,C,1.0,1.0,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS
3,9,R,8,2,1500,B,0.0,0.0,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS
4,10,H,91,39,84500,C,8.0,3.0,False,False,...,0,98,98,998,999999998,998,998,9998,9998,IAPS

**Observations**
1. The train and test sets are the same size
2. The ID variable for each of the sets is different; probably pulled from a common set

In [8]:
#look at how many null values each sample has
train.isnull().sum(axis=1).head(25)

0     25
1     19
2     24
3     24
4     24
5     24
6     24
7     24
8     16
9     24
10    22
11    24
12    17
13    24
14    24
15    24
16    24
17    24
18    22
19    25
20    24
21    21
22    24
23    24
24    24
dtype: int64

#Note
Note that the number of nulls in each sample seems to be correlated across columns.  This suggests that although the columns have been anonymized, it is likely that they have not been shuffled, and that there is some logical structure linking them (some semantic connection between many of the adjacent features).
 - Instructor suggests possibly using row index as another feature (???)

In [9]:
train.isnull().sum(axis=0).value_counts().head(25)

0         1409
918        286
56         115
91          56
89          38
145231       3
917          3
125775       3
131001       2
139361       2
101127       2
127699       2
133158       1
145219       1
60           1
143142       1
142974       1
144311       1
12550        1
927          1
135844       1
142903       1
134506       1
142664       1
141873       1
dtype: int64

In [10]:
traintest = pd.concat([train, test], axis=0)

In [11]:
size_of_feature_space = train.nunique(dropna=False) #give number of unique features for each column

In [27]:
size_of_feature_space.sort_values()[:20]

VAR_0213    1
VAR_0207    1
VAR_0840    1
VAR_0847    1
VAR_1428    1
VAR_1165    2
VAR_0438    2
VAR_1164    2
VAR_1163    2
VAR_1162    2
VAR_0446    2
VAR_0530    2
VAR_0528    2
VAR_0924    2
VAR_0563    2
VAR_0044    2
VAR_0043    2
VAR_0042    2
VAR_0527    2
VAR_0394    2
dtype: int64

In [31]:
constant_features = size_of_feature_space[size_of_feature_space == 1].index.tolist()
print(constant_features)

traintest.drop(columns=constant_features, inplace=True)

['VAR_0207', 'VAR_0213', 'VAR_0840', 'VAR_0847', 'VAR_1428']

In [ ]:
traintest.fillna('NaN', inplace=True)

In [1]:
train.head()

NameError: name 'train' is not defined